<template name="dictionary_list">
    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            {{>FormRouter template="search_session" class="col-sm-6" session="search_dictionary_keyword" placeholder="Search Keyword"}}
                            {{>FormRouter template="select" id="selecttemplate" size="col-lg-3" options=dictionaryTemplates emptyvalue="All Templates" session="search_dictionary_template"}}
                            {{>FormRouter template="select" id="selectlanguage" size="col-lg-3" options=dictionaryLanguages emptyvalue="All Languages" session="search_dictionary_language"}}
                        </div>
                        <div>
                          <span class="pull-right small text-muted">
                            {{countDictionary}} Items
                          </span>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" class="customer-commercial" href="#tab-1">
                                        <!-- <i class="fa fa-building"></i> Commercial -->
                                        <i class="fa fa-language"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            {{#if Template.subscriptionsReady}}
                                                {{#if hasRecords filteredDictionary}}
                                                <table class="footable table table-stripped table-hover toggle-arrow-tiny text-center" data-page-size="15">
                                                <thead>
                                                    <tr>
                                                        <th>{{dictionary "Language"}}</th>
                                                        <th>{{dictionary "Template"}}</th>
                                                        <th>{{dictionary "Variable"}}</th>
                                                        <th>{{dictionary "Dictionary"}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each filteredDictionary}}
                                                        <tr class="product-view">
                                                            <td>
                                                                <span class="client-link">
                                                                    {{l}}
                                                                </span>
                                                            </td>
                                                            <td>
                                                                {{t}}
                                                            </td>
                                                            <td>
                                                                {{v}}
                                                            </td>
                                                            <td style="width:40%">
                                                                <input type="text" value="{{this.d}}" class="form-control liveupdate" required="required" />
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                                {{else}}
                                                    {{>no_data header="Dictionary Search" description="No Result found with your search." icon="fa-rocket"}}
                                                {{/if}}
                                            {{else}}
                                               {{> loading}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
